{{#required}}@jakarta.validation.constraints.NotNull{{/required}}
{{#isEmail}}@jakarta.validation.constraints.Email{{/isEmail}}
{{#minLength}}@jakarta.validation.constraints.Size(min={{minLength}}){{/minLength}}
{{#maxLength}}@jakarta.validation.constraints.Size(max={{maxLength}}){{/maxLength}}
{{#pattern}}@jakarta.validation.constraints.Pattern(regexp="{{pattern}}"){{/pattern}}
